node_modules/
package-lock.json
pnpm-lock.yaml
bun.lock
**/lib/**
.vscode
target
**/*.gro

# Added for jtenner:
# Mise is a developer tool package manager, and produces a single mise.toml
# to keep track of tool versions.
mise.toml
